<section class="blog-intro">

    {{#if @blog.logo}}

        <div class="blog-intro-image">
            <img src="{{@blog.logo}}" alt="" />
        </div>

    {{/if}}

    <div class="blog-intro-description{{#if @blog.logo}} has-image{{/if}}">

        <p>{{{@blog.description}}}</p>

        {{{alchemy-socialMediaLinks}}}

    </div>
</section>

{{#if @blog.description}}<hr />{{/if}}
