{{#foreach posts}}

    {{> 'post-preview'}}

{{/foreach}}

<div class="content-pagination">

    {{#if pagination.prev}}
        {{pagination}}
    {{else}}
        {{#if pagination.next}}
            {{pagination}}
        {{/if}}
    {{/if}}

</div>
