<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="pagination-newer" href="{{page_url prev}}">Newer<span class="accessible-text"> Posts</span></a>
    {{/if}}
    {{#if next}}
        <a class="pagination-older" href="{{page_url next}}">Older<span class="accessible-text"> Posts</span></a>
    {{/if}}
    <p class="pagination-notice">Page <span class="pagination-number pagination-current">{{page}}</span> of <span class="pagination-number pagination-total">{{pages}}</span></p>
</nav>
