
    //alchemy color scheme
    $alchemy-white: #f9f9fe;
    $alchemy-mid-gray: #8e9aaf;
    $alchemy-dev-gray: #ccc;
    $alchemy-black: #293132;
    $alchemy-red: #ed6a5a;
    $alchemy-blue: #007ea7;

    //security color scheme
    $security-white: #f9f9fe;
    $security-mid-gray: #8e9aaf;
    $security-dev-gray: #ccc;
    $security-black: #293132;
    $security-green: #51c479;
    $security-blue: #43AED1;
