
    //setting theme variables that should be used in the scss files

    //COLOR
        //Alchemy Skin
        //text colors
        $alchemy-body-copy-color: $alchemy-black;
        $alchemy-page-heading-color: $alchemy-black;
        $alchemy-page-heading-sub-color: $alchemy-mid-gray;
        $alchemy-meta-item-color: $alchemy-mid-gray;
        $alchemy-link-color: $alchemy-blue;
        $alchemy-link-hover-color: $alchemy-dev-gray;
        $alchemy-intro-copy-color: $alchemy-mid-gray;
        $alchemy-item-title-color: $alchemy-black;
        $alchemy-drawer-link-color: $alchemy-white;

        //element colors
        $alchemy-drawer-bg-color: $alchemy-black;
        $alchemy-body-bg-color: $alchemy-white;
        $alchemy-page-header-divider-color: $alchemy-red;
        $alchemy-hr-color: $alchemy-dev-gray;
        $alchemy-border-color: $alchemy-dev-gray;

        //Security Skin
        //text colors
        $security-body-copy-color: $security-white;
        $security-page-heading-color: $security-white;
        $security-page-heading-sub-color: $security-mid-gray;
        $security-meta-item-color: $security-mid-gray;
        $security-link-color: $security-blue;
        $security-link-hover-color: $security-dev-gray;
        $security-intro-copy-color: $security-mid-gray;
        $security-item-title-color: $security-white;
        $security-drawer-link-color: $security-black;

        //element colors
        $security-drawer-bg-color: $security-white;
        $security-body-bg-color: $security-black;
        $security-page-header-divider-color: $security-green;
        $security-hr-color: $security-dev-gray;
        $security-border-color: $security-dev-gray;

    //SIZE
        //text sizes
        $body-copy-size: 14px;
        $page-header-size: 14vw;
        $page-header-sub-size: $body-copy-size;
        $item-title-size: 18px;
        $read-more-link-size: 12px;
        $intro-copy-size: 12px;
        $meta-item-size: 12px;
        $drawer-link-size: 15px;
        $menu-btn-size: 15px;

        //line-heights
        $body-copy-line-height: 1.7;
        $page-header-line-height: 1.4;
        $page-header-sub-line-height: 1.2;
        $no-line-height: 1;

        //letter-spacing
        $page-header-spacing: 2px;
        $page-header-sub-spacing: 3px;
        $item-title-spacing: 1px;
        $footer-heading-spacing: 2px;

    //ALIGNMENT
        //text alignment
        $page-header-align: right;
        $page-header-sub-align: $page-header-align;
        $body-align: left;

    //WEIGHT
        //Lato:300,400,700
        //Merriweather:400,400italic,700'
        //font-weight
        $page-header-weight: 700;
        $page-header-sub-weight: 300;
        $body-copy-weight: 400;
        $body-copy-bold-weight: 700;
        $body-copy-italic-weight: 400;
        $item-title-header-weight: 700;
        $meta-item-weight: 400;
        $drawer-link-weight: 300;
        $footer-heading-weight: 300;

    //TYPEFACE
        //font-family
        $alchemy-page-header-family: $merriweather;
        $security-page-header-family: $lato;
        $page-header-sub-family: $lato;
        $body-copy-family: $merriweather;
        $item-title-family: $lato;
        $read-more-family: $lato;
        $meta-item-copy: $merriweather;
        $drawer-link-family: $lato;
        $menu-btn-family: $lato;
        $footer-heading-family: $lato;

        //text-transform
        $alchemy-page-header-transform: none;
        $security-page-header-transform: uppercase;
        $page-header-sub-transform: uppercase;
        $item-title-transform: uppercase;
        $read-more-transform: uppercase;
        $pagination-transform: lowercase;
        $drawer-link-transform: uppercase;
        $menu-btn-transform: uppercase;
        $footer-heading-transform: uppercase;
