{{!< default}}

<header class="page-title">
    <h1 class="page-title-main">{{@blog.title}}</h1>
    <hr class="page-title-separator" />
    {{{alchemy-showSubTitle}}}
</header>

<main id="content" class="content" role="main">

        {{> "intro"}}

        {{> "loop"}}

</main>
