
    .blog-footer {
        padding: 30px 5%;

        &.has-form {

            .alchemy &,
            & {
                background: $alchemy-black;
                color: $alchemy-white;
            }

            .security & {
                background: $security-black;
                color: $security-white;
            }

            .post-template & {
                margin-top: 60px;
            }
        }

        &-poweredby {
            font-size: 10px;
            margin: 60px 0 0;
            text-align: center;

            .alchemy &,
            & {
                color: $alchemy-meta-item-color;
            }

            .security & {
                color: $security-meta-item-color;
            }
        }
    }

    .newsletter-signup {
        text-align: center;
        width: 90%;
        margin: 0 auto;

        &-header {
            font-family: $footer-heading-family;
            margin: 0 auto 30px;
            line-height: $no-line-height;
            letter-spacing: $footer-heading-spacing;
            font-weight: $footer-heading-weight;
            text-transform: $footer-heading-transform;
        }

        &-form {
            input {
                text-align: center;
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;

               .alchemy &,
               & {
                    color: $alchemy-black;
                    border: 1px solid $alchemy-dev-gray;
                }

                .security & {
                    color: $security-black;
                    border: 1px solid $security-dev-gray;
                }

                &[type="submit"] {
                    font-family: $lato;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    transform: all 0.3s ease;
                    font-size: 12px;

                    .alchemy &,
                    & {
                        background: $alchemy-white;
                        color: $alchemy-black;
                        border-color: $alchemy-white;

                        &:hover,
                        &:focus {
                            background: $alchemy-mid-gray;
                            border-color: $alchemy-mid-gray;
                        }
                    }

                    .security & {
                        background: $security-white;
                        color: $security-black;
                        border-color: $security-white;

                        &:hover,
                        &:focus {
                            background: $security-mid-gray;
                            border-color: $security-mid-gray;
                        }
                    }
                }
            }
        }
    }
