
    .blog-footer {
        padding: 30px 5%;

        &.has-form {
            background: $black;
            color: $white;

            .post-template & {
                margin-top: 60px;
            }
        }

        &-poweredby {
            font-size: 10px;
            color: $meta-item-color;
            margin: 60px 0 0;
            text-align: center;
        }
    }

    .newsletter-signup {
        text-align: center;
        width: 90%;
        margin: 0 auto;

        &-header {
            font-family: $footer-heading-family;
            margin: 0 auto 30px;
            line-height: $no-line-height;
            letter-spacing: $footer-heading-spacing;
            font-weight: $footer-heading-weight;
            text-transform: $footer-heading-transform;
        }

        &-form {
            input {
                text-align: center;
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                margin-bottom: 15px;
                color: $black;

                &[type="submit"] {
                    background: $white;
                    color: $black;
                    font-family: $lato;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    transform: all 0.3s ease;
                    border-color: $white;
                    font-size: 12px;

                    &:hover,
                    &:focus {
                        background: $mid-gray;
                        border-color: $mid-gray;
                    }
                }
            }
        }
    }
