
    html {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: auto;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        width: 100%;
        height: 100%;
        overflow-y: scroll; //force scroll bar so everything matches up regardless of page length
        line-height: $body-copy-line-height;
        margin: 0;
        font-weight: $body-copy-weight;

        .alchemy &,
        & {
            color: $alchemy-body-copy-color;
            font-size: $alchemy-body-copy-size;
            font-family: $alchemy-body-copy-family;
        }

        .security & {
            color: $security-body-copy-color;
            font-size: $security-body-copy-size;
            font-family: $security-body-copy-family;
        }
    }

    hr {
        border: 0;
        height: 1px;
        margin: 30px auto;

        .alchemy &,
        & {
             background: $alchemy-hr-color;
        }

        .security & {
            background: $security-hr-color;
        }
    }

    a {
        transition: all 0.3s ease;

        .alchemy &,
        & {
            color: $alchemy-link-color;

            &:hover,
            &:focus {
                color: $alchemy-link-hover-color;
            }
        }

        .security & {
            color: $security-link-color;

            &:hover,
            &:focus {
                color: $security-link-hover-color;
            }
        }
    }

    .blog-body {
        padding: 0 5%;
        max-width: 1000px;
        margin: 0 auto;
    }
