
    .blog-intro {
        &-description {
            font-size: $intro-copy-size;

            .alchemy &,
            & {
                color: $alchemy-intro-copy-color;
            }

            .security & {
                color: $security-intro-copy-color;
            }

            > p {
                &:first-of-type {
                    margin: 0 0 15px;
                }

                &:last-of-type {
                    margin: 0;
                }
            }


        }

        &-image {
            width: 70%;
            margin: 30px auto;

            img {
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
    }
