
    .drawer {
        &-outer {
            background: $drawer-bg-color;
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        &-inner {
            position: relative;
            width: 100%;
            padding: 30px 0 0;
            left: 0;
            transform: translate3d(0, 0, 0);
            transition: transform 0.5s ease;
            backface-visibility: hidden;
            background: $body-bg-color;

            .drawer-open & {
                transform: translate3d(50%, 0, 0);
            }
        }
    }

    .blog-nav {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(-100%, 0, 0);
        backface-visibility: hidden;
        height: 100%;
        width: 50%;
        z-index: 9999;

        &:not(:target) {
            z-index: 1;
            height: 0;
        }

        ul {
            margin: 0;
            padding: 30px;
            list-style-type: none;
            text-align: right;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            color: $drawer-link-color;
            text-decoration: none;
            opacity: 0.75;
            font-size: $drawer-link-size;
            font-family: $drawer-link-family;
            text-transform: $drawer-link-transform;
            font-weight: $drawer-link-weight;

            &:hover,
            &:focus {
                text-decoration: underline;
                opacity: 1.0;
            }
        }
    }

    .tcon-menu {
        &__lines {
            transform: scale(0.475);

            .tcon-menu--xcross.tcon-transform & {
                transform: scale(0.475);
            }
        }

        &-text {
            margin: 0 0 0 -5px;
            font-family: $menu-btn-family;
            font-size: $menu-btn-size;
            text-transform: $menu-btn-transform;
        }
    }
