
    .pagination {
        &-notice {
            text-align: center;
            margin: 0 auto;
        }

        &-newer {
            float: left;
        }

        &-older {
            float: right;
        }
    }

    .content-pagination {
        margin: 60px auto;
        color: $meta-item-color;
        text-transform: lowercase;
        font-size: $meta-item-size;
    }
