
    .pagination {
        &-notice {
            text-align: center;
            margin: 0 auto;
        }

        &-newer {
            float: left;
        }

        &-older {
            float: right;
        }
    }

    .content-pagination {
        margin: 60px auto;
        text-transform: lowercase;
        font-size: $meta-item-size;

        .alchemy &,
        & {
            color: $alchemy-meta-item-color;
        }

        .security & {
            color: $security-meta-item-color;
        }
    }
