
    .post {
        &-preview {
            .content > & {
                margin: 0 auto;
                border: none;
                padding-top: 0;
            }

            .content > & ~ & {
                margin: 30px auto 0;
                padding-top: 29px;

                .alchemy &,
                & {
                    border-top: 1px solid $alchemy-border-color;
                }

                .security & {
                    border-top: 1px solid $security-border-color;
                }
            }
        }

        &-title {
            margin-top: 0;
            font-family: $item-title-family;
            text-transform: $item-title-transform;
            letter-spacing: $item-title-spacing;

            a {
                text-decoration: none;

                .alchemy &,
                & {
                    color: $alchemy-item-title-color;

                    &:hover,
                    &:focus {
                        color: $alchemy-link-hover-color;
                    }
                }

                .security & {
                    color: $security-item-title-color;

                    &:hover,
                    &:focus {
                        color: $security-link-hover-color;
                    }
                }

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        &-time,
        &-author {
            font-size: $meta-item-size;

            .alchemy &,
            & {
                color: $alchemy-meta-item-color;
            }

            .security & {
                color: $security-meta-item-color;
            }
        }

        &-read-more {
            font-family: $read-more-family;
            text-transform: $read-more-transform;
            font-weight: $meta-item-weight;
        }
    }
