.content > .post-preview {
  margin: 0 auto;
  border: none;
  padding-top: 0;
}
.content > .post-preview ~ .post-preview {
  margin: 30px auto 0;
  border-top: 1px solid #ccc;
  padding-top: 29px;
}
.post-title {
  margin-top: 0;
  font-family: "Lato", "Avenir", "Helvetica", "Arial" sans-serif;
  text-transform: uppercase;
}
.post-title a {
  text-decoration: none;
  color: #293132;
}
.post-title a:hover, .post-title a:focus {
  text-decoration: underline;
  color: #ccc;
}
.post-time, .post-author {
  font-size: 12px;
  color: #8e9aaf;
}
.post-read-more {
  font-family: "Lato", "Avenir", "Helvetica", "Arial" sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
